<div class="addEdit-wrapper">
  <div></div>
  <div class="addEdit-container">
    <div class="addEdit-header">
      <svg viewBox="0 0 365.696 365.696" xmlns="http://www.w3.org/2000/svg" class="addEdit-header_close" (click)="closeHandler()">
        <path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"/>
      </svg>
    </div>
    <div class="addEdit-columns_container">
      <ng-container
          *ngTemplateOutlet="column;
          context: {
            placeholder: 'Институт',
            inputClick: unSelectUniversities.bind(this),
            inputAdd: createUniversity.bind(this),
            items: universities,
            itemComponent: 'universitiesTemplate',
            emptyHint: 'У организации нет направлений подготовки',
            showLoad: showUniversitiesLoading
          }"></ng-container>
      <ng-container
        *ngTemplateOutlet="column;
          context: {
            placeholder: 'Направление подготовки',
            inputClick: unSelectDirections.bind(this),
            inputAdd: createDirection.bind(this),
            items: directions,
            itemComponent: 'directionsTemplate',
            emptyHint: 'У института нет ни одного связанного направления',
            chooseMessage: 'Выберите институт для просмотра связанных направлений',
            showLoad: showDirectionLoading
          }"></ng-container>
      <ng-container
        *ngTemplateOutlet="column;
          context: {
            placeholder: 'Направление предмета',
            inputClick: unSelectLessons.bind(this),
            inputAdd: createLesson.bind(this),
            items: lessons,
            needToChooseBefore: !directions,
            itemComponent: 'lessonsTemplate',
            emptyHint: 'У направления нет ни одного связанного предмета',
            chooseMessage: 'Выберите направление для просмотра связанных предметов',
            showLoad: showLessonsLoading
          }"></ng-container>
    </div>
  </div>
</div>

<app-modal-window
  *ngIf="showModalAddTeacher"
  (closeWindow)="closeModalTeacher($event)"
  [options]="teacherModalOptions"
  [addTemplate]="addTeacher"
  [listTemplate]="modalTutor"></app-modal-window>

<!-- Template for adding new address -->
<ng-template #addTeacher
             let-inputHandler="inputHandler">
  <div style="display: flex;">
    <input #name name="name" type="text" class="global-input addModal-input" placeholder="Введите имя..." (input)="inputHandler(name)" style="margin-top: 10px;"/>
  </div>
  <div style="display: flex;">
    <input #surname name="surname" type="text" class="global-input addModal-input" placeholder="Введите фамилию..." (input)="inputHandler(surname)" style="margin-top: 10px;"/>
  </div>
  <div style="display: flex;">
    <input #patronymic name="patronymic" type="text" class="global-input addModal-input" placeholder="Введите отчество..." (input)="inputHandler(patronymic)" style="margin-top: 10px;"/>
  </div>
</ng-template>

<!-- Template for modal -->
<ng-template #modalTutor
  let-obj="item">
  <div class="listItem-title">{{obj.surname}} {{obj.name}} {{obj.patronymic}}</div>
</ng-template>

<!-- Column template -->
<ng-template #column
  let-inputPlaceholder="placeholder"
  let-inputClickHandler="inputClick"
  let-component="itemComponent"
  let-loopItems="items"
  let-emptyMessage="emptyHint"
  let-chooseMessage="chooseMessage"
  let-addClickHandler="inputAdd"
  let-needToChooseBefore="needToChooseBefore"
  let-showLoading="showLoad">
  <div class="addEdit-column">
    <div class="addEdit-container_header">
      <input
        type="text"
        [placeholder]="inputPlaceholder + '...'"
        class="addEdit-input"
        (click)="inputClickHandler()"
        #columnHeaderInput/>
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="addEdit-icon" (click)="addClickHandler(columnHeaderInput)">
        <path d="M12.3214 0H2.67856C1.19996 0.00175781 0.00175781 1.19996 0 2.67856V12.3214C0.00175781 13.8 1.19996 14.9982 2.67856 15H12.3214C13.8 14.9982 14.9982 13.8 15 12.3214V2.67856C14.9982 1.19996 13.8 0.00175781 12.3214 0ZM10.1786 8.03571H8.03571V10.1786C8.03571 10.4745 7.79586 10.7143 7.49998 10.7143C7.20411 10.7143 6.96426 10.4745 6.96426 10.1786V8.03571H4.82143C4.52555 8.03571 4.2857 7.79586 4.2857 7.49998C4.2857 7.20411 4.52555 6.96426 4.82143 6.96426H6.96429V4.82143C6.96429 4.52555 7.20414 4.2857 7.50002 4.2857C7.79589 4.2857 8.03571 4.52555 8.03571 4.82143V6.96429H10.1786C10.4745 6.96429 10.7143 7.20414 10.7143 7.50002C10.7143 7.79589 10.4744 8.03571 10.1786 8.03571Z" fill="#F8F8F8" fill-opacity="0.5"/>
      </svg>
    </div>
    <div class="addEdit-container_body" [ngClass]="{'addEdit-emptyList': !loopItems || loopItems.length === 0}">
      <div *ngIf="loopItems && loopItems.length > 0" [ngSwitch]="component">
        <ng-container
          *ngSwitchCase="'universitiesTemplate'"
          [ngTemplateOutlet]="universitiesTemplate"
          [ngTemplateOutletContext]="{loopItems: loopItems}">
        </ng-container>
        <ng-container
          *ngSwitchCase="'directionsTemplate'"
          [ngTemplateOutlet]="directionTemplate"
          [ngTemplateOutletContext]="{loopItems: loopItems, showLoad: showLoading}">
        </ng-container>
        <ng-container
          *ngSwitchCase="'lessonsTemplate'"
          [ngTemplateOutlet]="lessonsTemplate"
          [ngTemplateOutletContext]="{loopItems: loopItems}">
        </ng-container>
      </div>
      <p *ngIf="loopItems && loopItems.length === 0" class="addEdit-empty">{{ emptyMessage }}</p>
      <p *ngIf="(!loopItems || needToChooseBefore) && !showLoading" class="addEdit-empty">{{ chooseMessage }}</p>
      <img *ngIf="showLoading" src="assets/loading.svg" class="addEdit-loading"/>
    </div>
  </div>
</ng-template>

<!-- Generate list of universities -->
<ng-template #universitiesTemplate
  let-items="loopItems">
  <app-univ-item
    *ngFor="let item of items"
    [id]="item.id"
    [directionData]="item"
    [isSelected]="item.selected"
    (click)="universitySelectedHandler(item)"></app-univ-item>
</ng-template>

<!-- Generate list of directions -->
<ng-template #directionTemplate
   let-items="loopItems">
  <app-univ-item
    *ngFor="let item of items"
    [id]="item.id"
    [directionData]="item"
    [isSelected]="item.selected"
    editPanelStyle="group"
    (click)="directionSelectedHandler(item)"></app-univ-item>
</ng-template>

<!-- Generate list of lessons -->
<ng-template #lessonsTemplate
  let-items="loopItems">
  <app-lesson-component
    *ngFor="let lesson of items"
    [lessonData]="lesson"
    [deleteUrl]="'/api/delete_lesson'"
    (itemDeleted)="lessonDeletedHandler($event)"
    editPanelStyle="tutor"
    (addClick)="openModalTeacher($event)"></app-lesson-component>
</ng-template>
