<div>
  <div class="workspace-header">
    <img src="assets/workspace-icons/filter.svg" class="workspace-filter_icon"/>
  </div>
  <div class="workspace-weeks" style="display: flex; overflow-x: scroll;">
    <app-day-component
      *ngFor="let uuid of ids.slice(0,7); let i = index"
      [id]="uuid"
      [title]="weekDays[i]"
      [week]="weeksCount"
      [otherCardsUuid]="getOtherCardsUuid(uuid)"
      (eventAdded)="updateDaysList($event)"
      ></app-day-component>
  </div>
  <div class="workspace-weeks" style="display: flex; overflow-x: scroll;">
    <app-day-component
      *ngFor="let uuid of ids.slice(7); let i = index"
      [id]="uuid"
      [title]="weekDays[i]"
      [week]="weeksCount - 1"
      [otherCardsUuid]="getOtherCardsUuid(uuid)"
      (eventAdded)="updateDaysList($event)"
    ></app-day-component>
  </div>
</div>
