@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
  -webkit-touch-callout: none
    -webkit-user-select: none
     -khtml-user-select: none
       -moz-user-select: none
        -ms-user-select: none
            user-select: none

html, body
  margin: 0
  padding: 0
  height: 100%

.global-
  &input
    background-color: #212121
    font-size: 14px
    padding: 10px 8px
    flex: 1 1 auto
    outline: none
    color: rgba(248, 248, 248, 0.5)
    border: 1px solid #76767685
    border-radius: 5px

    &::placeholder
      color: rgba(87, 87, 87, 0.5)

  &loading
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.5)
